body {
    margin: 0;
    background: radial-gradient(circle, #0f0f0f, #000);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial;
    overflow: hidden;
    color: white;
}

canvas {
    border: 2px solid #222;
    background: black;
}

button {
    position: absolute;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(145deg, #2b2b2b, #111);
    color: white;
    transition: 0.15s;
}

button:hover {
    transform: scale(1.07);
}

button:active {
    transform: scale(0.92);
}

#shopBtn { top: 20px; left: 20px; }
#bossBtn { top: 20px; left: 110px; }
#fsBtn { top: 20px; left: 240px; }
